@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1200px) and (max-width: 1440px) {
    .navDropdown {
        font-size: 14px;
    }

    .nt-hdg {
        font-size: 22px;
        line-height: 30px;
    }

    .main .title h2 {
        font-size: 22px;
    }

    .course-text .text {
        font-size: 16px;
    }

    /* Courses */

    .main-price {
        font-size: 18px;
    }

    .strike-price {
        font-size: 18px;
    }

    /* Feedback */

    .question p {
        font-size: 14px;
    }

    .feedback-description {
        font-size: 14px;
        line-height: 20px;
    }

    .feedback-title h5 {
        font-size: 18px;
    }

    .category h6 {
        font-size: 16px;
    }

    .prev-nxt-btn {
        margin-top: 32px;
    }

    .history-title {
        font-size: 18px;
    }

    .add-feedback-text {
        font-size: 14px;
    }

    .add-feedback-editor::placeholder {
        font-size: 12px;
    }

    .feedback-title-thankyou h5 {
        font-size: 18px;
    }

    .feeback-history {
        padding-bottom: 10px;
    }

    /* FAQ */

    .banner-text {
        font-size: 32px;
    }

    .banner-search {
        padding: 0px 30px 0px 30px;
    }

    .tabs-banner .tabs {
        font-size: 10px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-links a {
        font-size: 14px;
    }

    .settting-title h2 {
        font-size: 26px;
    }

    /* footer css */

    .ft-para {
        font-size: 14px;
    }

    .inner-text {
        font-size: 14px;
    }

    .logoimgDiv {
        padding: 12px;
    }

    .pay-logo-part p {
        font-size: 16px;
    }

    .footer-web {
        padding: 60px 20px;
    }

    .headingText {
        font-size: 20px;
    }

    .links-ul li a {
        font-size: 16px;
    }

    .nextLinks a {
        font-size: 16px;
    }

    .logoText {
        font-size: 14px;
    }

    .joinBtn {
        padding: 8px 16px;
        font-size: 14px;
        width: 100px;
    }

    .sendBtn {
        width: 100px;
        padding: 8px 16px;
        font-size: 14px;
    }

    .cp-text p {
        font-size: 14px;
    }

    .policySect a {
        font-size: 14px;
    }

    /*FAQ */
    .tab-links ul li a {
        font-size: 14px;
    }

    .faq-tab-btn {
        font-size: 18px !important;
    }

    .faq-accordion-btn {
        font-size: 14px !important;

    }

    /* Setting-Devices-&-Activities */


    .signout-btn {
        padding: 8px 10px;
        font-size: 12px;
        width: 100px;
    }

    .validity-text p {
        font-size: 16px;
        line-height: 22px;
    }

    .expiry-text p {
        font-size: 16px;
        line-height: 22px;
    }

    /* Setting-Institute */


    /* institute css */

    .inst-info img {
        width: 30px;
        height: 30px;
    }

    .inst-name {
        font-size: 16px;
        line-height: 22px;
    }

    .inst-info-hdg {
        font-size: 14px;
        line-height: 20px;
    }

    .inst-info-para {
        font-size: 12px;
    }

    .details-enroll {
        font-size: 12px;
        line-height: 16px;
    }

    .info-enroll {
        font-size: 12px;
        line-height: 16px;
    }

    .price-number {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1620px) {
    .custom-col {
        flex: 0 0 33.3333% !important;
        max-width: 33.3333% !important;
    }

    .course-Enroll-btn a {
        font-size: 12px;
        padding: 6px 10px;
    }

    .price {
        gap: 8px;
    }

    .course-info {
        padding: 18px;
    }

    .main-price {
        font-size: 20px;
        line-height: 28px;
    }

    .course-info {
        padding: 18px;
    }

    .course-Enroll-btn a {
        font-size: 12px;
        padding: 6px 10px;
    }

    .strike-price {
        font-size: 20px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 480px) {

    .main {
        padding: 40px 0px 40px 0px;
    }

    .main .title {
        margin-top: 24px;
    }

    .main .title h2 {
        font-size: 18px;
        line-height: 26px;
    }
   

    .course-card, .home-empty-card {
        gap: 24px;
    }

    /* courses */

    .strike-price {
        font-size: 18px;
        line-height: 26px;
    }

    .main-price {
        font-size: 20px;
        line-height: 28px;
    }
    .price {
        gap: 10px;
    }


    /* Feedback  */

    .history{
        margin-top: 30px ;
    }

    .previous-btn, .submit-btn {
        width: auto;
    }

    /* FAQ */

    .faq-heading {
        margin-bottom: 24px;
    }
    .faq-tab-accordion {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .faq-question {
        margin-top: 24px;
    }

    .faq-accordion {
        gap: 8px;
    }

    /* Setting Payments  */

    .payments-section-two {
        display: flex;
        flex-direction: column;
    }

    .payment-history-download-btn a{
        font-size: 12px;
    }

    .card-expiry p {
        font-size: 14px;
        line-height: 20px;
    }








      /* footer */


    .footer-web {
        padding: 32px 16px;
    }

    .footer-right-section {
        padding-left: 0px;
    }

    .cp-sect {
        flex-direction: column;
        gap: 8px;
    }

    .nextLinks a {
        font-size: 16px;
    }

    .links-ul li a {
        font-size: 16px;
    }

    .logoText {
        font-size: 16px;
    }

    .headingText {
        font-size: 20px;
    }

    .right-text-section {
        padding-bottom: 18px;
        padding-top: 14px;
        border-bottom: 1px solid #E28000;
    }

    .footer-text-part {
        margin-top: 24px;
    }

    .footer-logo-part {
        gap: 20px;
        margin-top: 18px;
    }

    .inputsect {
        flex-direction: column;
    }

    .pay-logo-part {
        margin-top: 32px;
    }

    .accd-links {
        list-style: none;
        padding: 0 !important;
        margin-bottom: 0 !important;
    }

    .accd-links li a {
        color: #03599F;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
    }

    .accd-links li {
        margin-bottom: 10px !important;
    }

    .footer-adn {
        margin-bottom: 16px;
        border-radius: 8px !important;
        border: 1px solid #DEE3E6 !important;
    }

    .accordion-button::after {
        background-image: url('/Lms-images/elements.svg') !important;
        background-position: center center;
    }

    .accordion-button {
        border-radius: 8px !important;
        border: 1px solid #DEE3E6 !important;
        color: #03599F;
        font-family: "Raleway" !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 20px;
    }

    .accordion-button:focus {
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent !important;
        border-radius: 8px 8px 0 0 !important;
    }

    .inputs-part {
        margin-top: 16px;
    }

    /* Notifications css */

    .nt-part-div {
        flex-direction: column;
    }

    .nt-right-div {
        gap: 1rem !important;
    }

    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .nt-main-div {
        padding: 12px;
    }

    .nt-img-div {
        width: 70px;
    }

    .nt-view-btn {
        font-size: 12px;
    }

}