
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

body {
  overflow-x: hidden;
}

/* form-container */

.right-form-box {
  margin-top: 60px;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(161deg, rgba(255, 230, 198, 0.00) 9.06%, rgba(255, 230, 198, 0.70) 90.22%), var(--Surface-White, #FFF);
}

.form-section {
  margin: 11px auto;
  width: 62%;
  line-height: 24px;
}

.heading h3 {
  color: #01233f;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 28px;
}

.heading p {
  color: #768897;
  font-size: 0.875rem;
  line-height: 20px;
}

.label-1 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #01233f;
  line-height: 24px;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_container img {
  height: 16px;
  width: 16px;
}

.email-icon {
  height: 16px;
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 11px;
}

.eye-icon {
  height: 16px;
  width: 20px;
  position: absolute;
  z-index: 99;
  right: 16px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 400;
}

.input_field {
  font-size: 0.8rem;
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background-color: #f5f6f7;
}

.input_field:focus {
  border: 1px #43a9fb;
  box-shadow: none;
  background-color: #f1f8ff;
}

/* check-div */
.check-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #768897;
  margin-bottom: 12px;
  margin-top: 9px;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 500;
}

.check_input_field {
  border: 2px solid #768897;
  height: 16px;
  width: 16px;
  margin-top: 4px;
}

.forgot-password {
  color: #43A9FB;
}

/* login button css */

.login-btn button {
  border: none;
  font-size: 0.875rem;
  border-radius: 8px;
  width: 100%;
  background-color: #03599F;
  color: #FFF;
  text-align: center;
  padding: 12px 16px 12px 16px;
}

.login-btn button:hover {
  background-color: #1d97fb;
}

.login-btn button:active {
  background-color: #1d97fb;
}

/* line-container */
.line-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dee2e6;
}

.text {
  font-size: 0.75rem;
  padding: 0 5px;
  font-weight: bold;
  color: #94a3ae;
}

/* social-links */
.social-links {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-links img {
  height: 16px;
  width: 16px;
}

.button1 {
  border: 1px solid #dee2e6;
  border-radius: 12px;
  padding: 10px 14px;
  text-align: center;
  margin: 5px 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.social-icons .button1 {
  background-color: white;
  color: black;
}

.button1:hover {
  background-color: #f5f6f7;
  color: white;
  border: 1px solid #dee2e6;
}

.button1:focus {
  background-color: #ebedf0;
}

.create-account p {
  text-align: center;
  color: #768897;
  font-size: 0.875rem;
}

.create-account a {
  color: #ff9d1e;
}

.create-account a:hover {
  color: #ffae45;
}

.create-account a:focus {
  color: #f68b00;
}

@media (max-width: 500px) {
  .img-container img {
    width: 100%;
  }

  body {
    overflow: visible;
  }

  .back-img-container {
    background-image: url("./Images/background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }

  .form-container {
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    border-radius: 3rem;
    max-height: 100vh;
  }

  .form-section {
    width: 78%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .img-container img {
    width: 100%;
  }

  body {
    overflow: visible;
  }

  .back-img-container {
    background-image: url("./Images/background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }

  .form-container {
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    border-radius: 3rem;
  }

  .form-section {
    width: 82%;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .img-container img {
    width: 100%;
    height: 100vh;
  }

  .form-section {
    margin: 5rem auto;
    width: 78%;
  }
}

@media (min-width: 1001px) and (max-width: 1360px) {
  .main {
    height: 100vh;
  }

  .img-container img {
    width: 100%;
    height: 100vh;
  }

  .form-section {
    margin: 3rem auto;
    width: 71%;
  }
}

@media (min-width: 1361px) and (max-width: 1600px) {
  .img-container img {
    width: 100%;
  }

  .form-section {
    margin: 3rem auto;
    width: 75%;
  }
}

@media (min-width: 1601px) and (max-width: 1900px) {
  .img-container img {
    width: 100%;
  }

  .form-section {
    margin: 3rem auto;
    width: 71%;
  }
}