* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#astric {
  margin-left: 0;
  font-size: 1rem;
  color: #e53a3a;
}

.img-container {
  max-width: 100%;
}

.img-container img {
  max-height: 100vh;
  width: 100%;
}

.d-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(161deg, rgba(255, 230, 198, 0.00) 9.06%, rgba(255, 230, 198, 0.70) 90.22%), var(--Surface-White, #FFF);
}

.logo {
  margin-bottom: 0.8rem;
}

.heading h2 {
  font-family: "Plus Jakarta Sans", serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #01233f;
}

.heading p {
  font-weight: 500;
  font-size: 0.875rem;
  color: #768897;
  margin-bottom: 0.5rem;
}

.img-div img {
  max-height: 100vh;
}

::selection {
  color: #fff;
  background: #d43f8d;
}

.container1 {
  margin-top: 10rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 0px 100px;
}

.container1 header {
  margin-bottom: 12px;
}

.name .first {
  width: 100%;
}

.name .last {
  width: 100%;
}

.email-ic {
  width: 18px !important;
  height: 16px !important;
}

.name {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin-bottom: 0.6rem;
}

.number {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.lock-icon {
  height: 20px;
}

.icon1 {
  width: 20px;
  height: 16px;
  position: absolute;
  z-index: 99;
  right: 16px;
  bottom: 10px;
}

.password-div-1 {
  border-radius: 12px !important;
}

.password-1 {
  margin-left: 0px !important;
  border-radius: 12px !important;
  padding: 12px 42px !important;
}

.email-1 {
  margin-left: 0px !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  padding: 12px 42px !important;
}

.upload-btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.upload-inputs {
  height: 36px;
  border-radius: 0px 12px 12px 0px;
  border: 1px solid #DEE3E6;
  background: #FAFBFB;
}

.form-label span {
  margin-left: 0.2rem;
  font-size: 0.75rem;
  color: #768897;
  font-weight: 500;
}

.up-btn {
  width: 20%;
}

.up-btn span {
  padding-left: 0.6rem;
}

.form-label {
  color: #01233f;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 24px;
}

.form-control {
  background-color: #fafbfb;
  border: 1px solid #dee2e6;
  font-size: 0.875rem;
  font-weight: 400;
  color: #768897;
  width: 100%;
  height: 36px;
  border-radius: 12px;
  padding: 12px 16px;
}

.form-control-1 {
  margin-left: 0 !important;
  padding: 12px 42px;
  border-radius: 12px !important;
}

.form-select {
  margin-left: 0px !important;
  padding: 0.375rem 2.25rem 0.375rem 2.5rem;
  font-size: 0.875rem;
  height: 36px;
  border-radius: 12px !important;
  background-color: #f5f6f7;
  border: 1px solid #dee2e6;
  color: #768897;
}

.form-select:focus {
  border: 1px solid #43a9fb;
  background-color: #f1f8ff;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #43a9fb;
  background-color: #f1f8ff;
  box-shadow: none;
}

.form-control:hover {
  /* border: 1px solid #43a9fb; */
  background-color: #f5f6f7;
  /* box-shadow: none; */
}

.form-control:focus {
  border: 1px solid #43a9fb;
  background-color: #f1f8ff;
  box-shadow: none;
}

.dropdown-toggle::after {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
  }

  #astric {
    margin-left: 0;
    font-size: 1rem;
    color: #e53a3a;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  .d-col {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .col-6 {
    padding: 0;
  }

  .col-6 {
    padding: 0;
  }

  body {
    overflow: hidden;
  }

  .box-1 {
    max-height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin-bottom: 0.8rem;
  }

  .heading h2 {
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 700;
    font-size: 1.375rem;
    color: #01233f;
  }

  .heading p {
    font-weight: 500;
    font-size: 0.875rem;
    color: #768897;
    margin-bottom: 0.5rem;
  }

  .img-div img {
    height: 728px;
    max-height: 100vh;
  }

  ::selection {
    color: #fff;
    background: #d43f8d;
  }

  .container1 {
    margin-top: 10rem;
    width: 80%;
    background: #fff;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 0px 35px;
  }

  .container1 header {
    margin-bottom: 12px;
  }

  .name .first {
    width: 100%;
  }

  .name .last {
    width: 100%;
  }

  .email-ic {
    width: 18px !important;
    height: 16px !important;
  }

  .name {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-bottom: 0.6rem;
  }

  .number {
    display: flex;
    flex-direction: column;
  }

  .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }

  .lock-icon {
    height: 20px;
  }

  .icon1 {
    width: 20px;
    height: 16px;
    position: absolute;
    z-index: 99;
    right: 16px;
    bottom: 10px;
  }

  .password-div-1 {
    border-radius: 12px !important;
  }

  .password-1 {
    margin-left: 0px !important;
    border-radius: 12px !important;
    padding: 12px 42px !important;
  }

  .email-1 {
    margin-left: 0px !important;
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    padding: 12px 42px !important;
  }

  .upload-btn {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .upload-inputs {
    height: 36px;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }

  .form-label span {
    margin-left: 0.2rem;
    font-size: 0.75rem;
    color: #768897;
    font-weight: 500;
  }

  .up-btn {
    width: 20%;
  }

  .up-btn span {
    padding-left: 0.6rem;
  }

  .form-label {
    color: #01233f;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
  }

  .form-control {
    background-color: #fafbfb;
    border: 1px solid #dee2e6;
    font-size: 0.875rem;
    font-weight: 400;
    color: #768897;
    width: 100%;
    height: 36px;
    border-radius: 12px;
    padding: 12px 16px;
  }

  .form-control-1 {
    margin-left: 0 !important;
    padding: 12px 42px;
    border-radius: 12px !important;
  }

  .form-select {
    margin-left: 0px !important;
    padding: 0.375rem 2.25rem 0.375rem 2.5rem;
    font-size: 0.875rem;
    height: 36px;
    border-radius: 12px !important;
    background-color: #f5f6f7;
    border: 1px solid #dee2e6;
    color: #768897;
  }

  .form-select:focus {
    border: 1px solid #43a9fb;
    background-color: #f1f8ff;
    box-shadow: none;
  }

  .form-control:focus {
    border: 1px solid #43a9fb;
    background-color: #f1f8ff;
    box-shadow: none;
  }

  .form-control:hover {
    background-color: #f5f6f7;
  }

  .form-control:focus {
    border: 1px solid #43a9fb;
    background-color: #f1f8ff;
    box-shadow: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .down {
    margin-left: 6px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons-1 {
    margin-top: 3.6rem;
  }

  .buttons-2 {
    margin-top: 6.6rem;
  }

  .buttons-3 {
    margin-top: 1.6rem;
  }

  .buttons-4 {
    margin-top: 12.8rem;
  }

  .nt-btn {
    border-radius: 12px !important;
    width: 78px;
    height: 30px;
    padding: 0px 12px;
    font-weight: 500;
    font-size: 0.875rem;
  }

  .final-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .img-div1 {
    margin-bottom: 2rem;
  }

  .para {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #768897 !important;
    padding: 0 1rem;
  }

  .text-1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 0.8rem;
    color: #01233f;
    line-height: 22px;
  }

  .btn-1 {
    height: 36px;
    border-top-color: #dee2e6;
    border-left-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-right-color: #f5f6f7;
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    background-color: #f5f6f7 !important;
  }

  .bk-btn {
    font-weight: 700;
    font-size: 0.75rem;
    color: #01233f;
    border-color: #dee2e6 !important;
  }

  .bk-btn:hover {
    color: #01233f;
    background-color: #ebedf0 !important;
  }

  .bk-btn:active {
    color: #01233f !important;
    background-color: #dee2e6 !important;
  }

  .container1 .form-outer {
    width: 100%;
    overflow: hidden;
  }

  .container1 .form-outer form {
    display: flex;
    width: 400%;
  }

  .form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
  }

  .form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }

  .form-outer form .page .field {
    width: 100%;
    display: flex;
    position: relative;
  }

  form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
  }

  form .page .field select {
    width: 100%;
    /* padding-left: 10px; */
    font-size: 0.875rem;
    /* padding: 8px 41px; */
    font-weight: 500;
  }

  form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
  }

  form .page .btns button.next {
    margin-left: 3px;
  }

  .container1 .progress-bar1 {
    display: flex;
    margin: 10px 0;
    user-select: none;
  }

  .container1 .progress-bar1 .step {
    /* text-align: center; */
    width: 100%;
    position: relative;
  }

  .container1 .progress-bar1 .step p {
    font-weight: 500;
    font-size: 0.75rem;
    color: #768897;
    margin-bottom: 2px;
  }

  .progress-bar1 .step .bullet {
    height: 30px;
    width: 30px;
    color: #01233f;
    border: 2px solid #dee2e6;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 26px;
  }

  .progress-bar1 .step .bullet.active {
    border-color: #18bb54;
    background: #18bb54;
  }

  .progress-bar1 .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .progress-bar1 .step .bullet.active span {
    display: none;
  }

  .progress-bar1 .step .bullet:before,
  .progress-bar1 .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    right: -226px;
    height: 2px;
    width: 13.6rem;
    background: #dee2e6;
  }

  .progress-bar1 .step .bullet.active:after {
    background: #18bb54;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }

  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }

  .progress-bar1 .step:last-child .bullet:before,
  .progress-bar1 .step:last-child .bullet:after {
    display: none;
  }

  .progress-bar1 .step p.active {
    color: #18bb54;
    transition: 0.2s linear;
  }

  .progress-bar1 .step .check {
    position: absolute;
    left: 8%;
    top: 30%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }

  .progress-bar1 .step-2 .check {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }

  .progress-bar1 .step-3 .check {
    position: absolute;
    left: 92%;
    top: 30%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }

  .progress-bar1 .step .check.active {
    display: block !important;
    color: #fff;
  }

  .step-1 {
    display: flex;
    align-items: flex-start;
    gap: 0.4rem;
    flex-direction: column;
  }

  .step-2 {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    flex-direction: column;
  }

  .step-3 {
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
    flex-direction: column;
  }

  .dropdown-item {
    color: #768897;
    background-color: #f1f8ff;
    border-bottom: 1px solid DEE2E6 !important;
  }

  .form-text {
    display: flex;
  }

  .form-text .text-div {
    width: 100%;
    background-color: #f5f6f7 !important;
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
  }

  .form-text .text-div span {
    font-weight: 700;
  }

  .form-text .check-div {
    display: flex;
    align-items: center;
  }

  .form-text .check-div p {
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .form-text .check-div img {
    width: 16px;
    height: 16px;
  }

  .text-2 h3 {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    margin-bottom: 10px;
  }

  .text-2 p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #768897;
    margin-bottom: 12px;
  }

  .digit-group input {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #dee2e6 !important;
    background-color: #fafbfb;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: black;
    margin: 0 2px;
  }

  .digit-group .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
  }

  /* modal class */
  .modal-dialog {
    margin-left: 37rem;
  }

  .timer-div {
    display: flex;
    justify-content: space-between !important;
  }

  span {
    color: #768897;
    font-size: 0.875rem;
  }

  .timer {
    margin-left: 0.3rem;
    color: #ffa631;
    /* font-size: 0.875rem; */
  }

  .digit-group {
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-evenly; */
  }

  .message-div p {
    margin-bottom: 0.2rem;
    color: #768897;
    font-size: 0.875rem;
  }

  .modal-header {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    border: none;
    margin-bottom: 1rem;
  }

  .modal-content {
    border-radius: 24px;
    padding: 1.5rem 1.8rem;
    width: 70%;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    border: 0;
    padding: 0;
    justify-content: space-between !important;
  }

  .modal-footer2 {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-between !important;
  }

  display: none;
}

.down {
  margin-left: 6px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons-1 {
  margin-top: 2.4rem;
}

.buttons-2 {
  margin-top: 6.6rem;
}

.buttons-3 {
  margin-top: 1.6rem;
}

.buttons-4 {
  margin-top: 12.8rem;
}

.nt-btn {
  background-color: #03599F;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 12px !important;
}

.final-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
}

.img-div1 {
  margin-bottom: 2rem;
}

.para {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #768897 !important;
  padding: 0 1rem;
}

.text-1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 0.8rem;
  color: #01233f;
  line-height: 22px;
}

.btn-1 {
  height: 36px;
  border-top-color: #dee2e6;
  border-left-color: #dee2e6;
  border-bottom-color: #dee2e6;
  border-right-color: #f5f6f7;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  background-color: #f5f6f7 !important;
}

.bk-btn {
  font-weight: 700;
  font-size: 0.75rem;
  color: #01233f;
  padding: 12px 16px;
  border-radius: 12px !important;
  border-color: #dee2e6 !important;
}

.bk-btn:hover {
  color: #01233f;
  background-color: #fff !important;
}

.bk-btn:active {
  color: #01233f !important;
  background-color: #fff !important;
}

.container1 .form-outer {
  width: 100%;
  overflow: hidden;
}

.container1 .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .field {
  width: 100%;
  display: flex;
  position: relative;
}

form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

form .page .field select {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .btns button.next {
  margin-left: 3px;
}

.container1 .progress-bar1 {
  display: flex;
  margin: 10px 0;
  user-select: none;
}

.container1 .progress-bar1 .step {
  width: 100%;
  position: relative;
}

.container1 .progress-bar1 .step p {
  font-weight: 500;
  font-size: 0.75rem;
  color: #768897;
  margin-bottom: 2px;
}

.progress-bar1 .step .bullet {
  height: 30px;
  width: 30px;
  color: #01233f;
  border: 2px solid #dee2e6;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 26px;
}

.progress-bar1 .step .bullet.active {
  border-color: #18bb54;
  background: #18bb54;
}

.progress-bar1 .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar1 .step .bullet.active span {
  display: none;
}

.progress-bar1 .step .bullet:before,
.progress-bar1 .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -226px;
  height: 2px;
  width: 13.6rem;
  background: #dee2e6;
}

.progress-bar1 .step .bullet.active:after {
  background: #18bb54;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar1 .step:last-child .bullet:before,
.progress-bar1 .step:last-child .bullet:after {
  display: none;
}

.progress-bar1 .step p.active {
  color: #18bb54;
  transition: 0.2s linear;
}

.progress-bar1 .step .check {
  position: absolute;
  left: 8%;
  top: 30%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar1 .step-2 .check {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar1 .step-3 .check {
  position: absolute;
  left: 92%;
  top: 30%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar1 .step .check.active {
  display: block !important;
  color: #fff;
}

.step-1 {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  flex-direction: column;
}

.step-2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: column;
}

.step-3 {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  flex-direction: column;
}

.dropdown-item {
  color: #768897;
  background-color: #f1f8ff;
  border-bottom: 1px solid DEE2E6 !important;
}

.form-text {
  display: flex;
}

.form-text .check-div {
  display: flex;
  align-items: center;
}

.form-text .check-div p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.form-text .check-div img {
  width: 16px;
  height: 16px;
}

/* popup style */

.right-form-box {
  overflow-x: hidden;
  background: linear-gradient(161deg, rgba(255, 230, 198, 0.00) 9.06%, rgba(255, 230, 198, 0.70) 90.22%), var(--Surface-White, #FFF);
}

.form-section {
  margin: 0 auto;
  width: 65%;
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h2 {
  color: #011B30;
  font-family: "Plus Jakarta Sans";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}

.heading p {
  color: #768897;
  font-size: 0.875rem;
  line-height: 20px;
}

.label-1 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #01233f;
  line-height: 24px;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_container img {
  height: 16px;
  width: 16px;
}

.email-icon {
  height: 16px;
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 11px;
}

.eye-icon {
  height: 16px;
  width: 20px;
  position: absolute;
  z-index: 99;
  right: 16px;
  bottom: 12px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 400;
}

.input_field {
  font-size: 0.8rem;
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background-color: #FFF;
}

.input_field:focus {
  border: 1px #43a9fb;
  box-shadow: none;
  background-color: #f1f8ff;
}

/* check-div */
.check-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #768897;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 500;
}

.check_input_field {
  border: 2px solid #768897;
  height: 16px;
  width: 16px;
  margin-top: 4px;
}

.forgot-password a {
  color: #03599F;
}

/* login button css */

.login-btn a {
  border: none;
  font-size: 0.875rem;
  border-radius: 12px;
  width: 100%;
  background-color: #03599F;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
}

.login-btn a:hover {
  background-color: #1d97fb;
}

.login-btn a:active {
  background-color: #1d97fb;
}

.login-btn2 a {
  color: #011B30;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  display: flex;
  padding: 8px 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #DEE3E6;
  text-decoration: none;
}

/* line-container */
.line-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dee2e6;
}

.text {
  font-size: 0.75rem;
  padding: 0 5px;
  font-weight: bold;
  color: #94a3ae;
}

/* social-links */
.social-links {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-links img {
  height: 16px;
  width: 16px;
}

.button1 {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #DEE3E6;
  background-color: transparent;
}

.button1:hover {
  background-color: #DEE3E6;
}

.button1:focus {
  background-color: #ebedf0;
}

.create-account p {
  text-align: center;
  color: #768897;
  font-size: 0.875rem;
}

.create-account a {
  color: #ff9d1e;
}

.create-account a:hover {
  color: #ffae45;
}

.create-account a:focus {
  color: #f68b00;
}